////Animation bars
//
.animationBar1 {
  animation: myAnimBar1 2s 1, move 1s linear infinite;

  @keyframes myAnimBar1 {
    0% {width: 10%;}
    100% {width: 90%;}
  }
}

.animationBar2 {

  animation: myAnimBar2 2s 1, move 1s linear infinite;

  @keyframes myAnimBar2 {
    0% {width: 15%;}
    100% {width: 70%;}
  }
}


.animationBar3 {
  animation: myAnimBar3 2s 1, move 1s linear infinite;

  @keyframes myAnimBar3 {
    0% {width: 15%;}
    100% {width: 60%;}
  }
}



.animationBar4 {
  animation: myAnimBar4 2s 1, move 1s linear infinite;

  @keyframes myAnimBar4 {
    0% {width: 10%;}
    100% {width: 50%;}
  }

}









.myFlex {
  display: flex; //FLEX!
  justify-content: center;
 align-items: center;

}





//Reset
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
 // font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


//0, general settings

@font-face {

  font-family: Lato;
  src:url(../fonts/Lato-LigIta.ttf);

  }





//My styles
$myViolet: #9f449b;
$myVioletLight: #e69fd1;
$myVioletDark: #9a0c7c;
$myGreyDark: #8b8b8b;
$myGreyLight: #e8e8e8;
$myBorder: 3px dashed orangered;
$myBorder2: 2px double yellow;
$fontSizeBeltMenu: 0.9rem;
$fontColorBeltMenu: #000000;

$myBcgVioletGradient: (
        45deg,
        #9f449b 10%,
        #e669c6 15%
);




.myViolet {
  color: $myViolet;
}

body {
  background-color: rgba(224, 255, 42, 0.28);
  font-family: 'Lato', sans-serif;
}

.myJustify {
  width: 70%;
  margin: 0 auto;
  border: $myBorder;
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}


h1 {
  margin-bottom: 1px;
  color: white;
  padding-top: 4rem;
  font-size: 2.6rem;
}

h2 {
  font-size: 1.4rem;
  color: $myGreyDark;
  font-weight: 400;

  //padding: ;

  span {
    color: $myViolet;

  }
}



h3 {
  font-size: 1rem;
  font-weight: 400;
  color: white;
}


h4 {
  color: black;
}








.BackFramE {
  background-image: url("../images/C_frameBold.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

}






//A Top Header

section.myTopHeader {
  background-image: url("../images/Bhagaskara_01.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding-bottom: 54%; // do wyliczenia (wysokosc/szerokoœæ) * 100
  height: 0;


  .col-12 {


    :last-child {
     padding-top: 1px;
    }
  }



  .ico_shape:nth-child(-n+2),
  .ico_shape:nth-child(n+5):nth-child(-n+6) {

    margin-top: 9rem;
  }


  .ico_shape {
    background-image: url('../images/ico_shape.png');
    background-size: 90% auto;
    padding-top: 5%;
    padding-bottom:5%;
    background-position: top center;
    //width: 100%;
    background-repeat: no-repeat;
    img {
      width:50%;
    }
  }

  .ico_shape:hover {
    background-image: url('../images/ico_shape_hover.png');
    cursor: pointer;

  }

  .main_page p {
    color: #000;
  }


  .ScrHover:hover {
    background-image: url(../images/A_scroller_violet.png);
    cursor: pointer;

  }

}

//B White belt menu

.B_myWhite {
  background-color: white;
  text-transform: uppercase;
  font-size: $fontSizeBeltMenu;
  color: $fontColorBeltMenu;
  padding: 1.7rem 1.7rem;
  transition: padding 1s;

      .belt_menu_row {
        background-size: 100% auto;

      }

      .nav-expanded {
        display: block;

      }



      .menu_trigger {
        display: none;
        font-size: larger;

        @media screen and (max-width: 480px) {

          display: block;
          border-bottom: 2px solid $myViolet;
          width: 60%;
        }
      }


      .belt_menu li {
        display: inline-block;
        margin-right: 1rem;

        &:hover {
          color: $myViolet;

        }
      }




    @media screen and (max-width: 480px) {

    display: none;
    background-color: $myGreyLight;
    border-bottom: 1px solid $myGreyDark;

        &:last-child {
          border-bottom: none;

        }


    }


  h4 {

    transition-property: opacity;
    transition-duration: 1.5s;



    @media screen and (max-width: 480px) {
      opacity: 0;
    }


  }






      a.active {
      color: $myViolet;
      border-bottom: 1px solid $myViolet;
    }


      &.sticky {
        position: fixed;
        top: 0;
        //left: 0;
        width: 100%;
        z-index: +1;
        padding: 0;

      }


  .align_left {
    text-align: left;
  }

  .align_right {
    text-align: right;
  }


}

//C grey section

section.CmyGrey {


  background-color: #eee;
  height: 590px; // wg Ps 790;
  padding-top: 110px;
  padding-bottom: 110px;

  h2 {
    padding: 28px 0 28px 0;
    font-size: 1rem;
  }

  p {
    font-size: 0.9rem;

  }



  .C_icons {
    padding-top: 200px;
    height: auto;
    background-image: url('../images/B1_heart.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
  }

  .C_icons:hover {
    background-image: url('../images/B1heart_violet.png');
    background-size: 100% auto;
    background-repeat: no-repeat;


  }

  .row.mySectionPadding > div {
    padding-top: 200px;
    height: auto;
    background-size: 100% auto;
    background-repeat: no-repeat;
  }

  .C_icons2 {
    background-image: url('../images/B2_diamond.png');
  }

  .C_icons2:hover {
    background-image: url('../images/B2_diamond_violet.png');

  }

  .C_icons3  {

    background-image: url('../images/B3_mug.png');

  }

  .C_icons3:hover {
    background-image: url('../images/B3_mug_violet.png');

  }

  .C_icons4 {

    background-image: url('../images/B4_phone.png');

  }

  .C_icons4:hover {
    background-image: url('../images/B4_phone_violet.png');



  }


}

// D White section devices

.myWhite {
  background-color: #ffffff;
  height: 390px;
  padding: 30px 30px;

  h2 {
    font-size: 1.8rem;
    color: $myGreyDark;

      span {
        color: $myViolet;

      }
  }

  .col-6:last-child {
    line-height: 1.5;

    img {
      width: 100%;
      height: auto
    }
  }


  .buttonCTA {
    width: 40%;
    height: 40px;
    margin-top: 20px;
    color: #fff;
    background-color: $myViolet;
    box-shadow: 0 3px $myVioletDark;
    padding: 10px 20px;
    border-radius: 5px;

    a {
      text-decoration: none;
      font-size: 1rem;
    }
  }

}

//Section E, violet background

.mySectE {

  background-image: url("../images/E_background_violet.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding-bottom: 31.2%; // wyliczenie (wysokosc/szerokoœæ) * 100
  height: 0;


    .myQuotes {
      padding: 6.5% 6.5%;
      color: white;
      font-size: 1.5rem;
    }
}





//Section F, white widther background

.mySectF {
  background-color: white;

    .col-12 {
          img {

            &:hover {

              content: url("../images/F_arrow_hov.png");

              cursor: pointer;
            }

            &:nth-child(2) {
              transform: rotate(180deg);
            }
          }
    }

    .wrapperVis {

      width:  750px;
      border: 4px dotted mediumseagreen;
      overflow: hidden;
      margin: auto;

        .wrapper {
          width: 2000px;



              .slid {
                width: 250px;
                float: left;
                display: inline-block;

                  img {
                    border: 3px solid $myGreyLight;
                    width: 70%;
                    border-radius: 50%;
                    margin-right: 10px;

                  }

                  h2 {
                    padding: 25px 25px;
                  }

              }

        }

    }

      .my4Slider {
        padding: 0 50px 0 50px;
        width: 250px;
        display: inline-block;

          img {
            border: 3px double $myGreyLight;
            width: 70%;
            border-radius: 50%;
            margin-right: 10px;

          }

        h2 {
          padding: 25px 25px;
        }

      }

      .col-6 {


          p {
            text-transform: uppercase;
            padding-bottom: 5px;


              &.left {
                float: left;
              }

              &.right {
                float: right;
              }
            }


        .prog {
             clear: both;
             background: $myGreyLight;
             width: 100%;

          #progBar1 {
            background: $myViolet;
            height: 16px;
            width: 90%;

          }


          #progBar2 {
              background: $myViolet;
              height: 16px;
              width: 70%;

          }


          #progBar3 {
              background: $myViolet;
              height: 16px;
              width: 60%;

          }


          #progBar4 {
              background: $myViolet;
              height: 16px;
              width: 50%;

          }

        }

    }

}


//Animations on bars

@keyframes ruch {

  from {
    background-position: 0 0;
  }
  to {
    background-position: 20px 0;
  }
}





.mySectH {
  background-color: #fff;

  h2 {
    color: $myViolet;
  }

  h3 {
    color: $myGreyDark;
    padding-top: 0.8rem;
  }

    .bottomBelt {


          .HRwrapper {
            width: 750px;
            height: 320px;
            overflow: hidden;

                .AllSlaids {
               //   border: 3px dotted firebrick;
                  display: block;
                  width: 3300px;
                  height: inherit;
                  margin-left: 0; /* to animujemy i na koniec powrót do 0.*/
                  padding: 0;

                  .slaid {
                    float: left;
                 //   border: 2px dotted hotpink;
                    width: 750px;
                    height: auto;

                    img {
                      border-radius: 50%;
                    }

                    p {
                      padding: 20px 20px;
                    }

                  }

                }


          }






    }

}




.mySectI {
  background-color: #fff;
  z-index: -1;

    img {
      width: 100%;
      height: 100%;
      cursor: pointer;
      transition: transform 1.5s;
      z-index: -1;

    &:hover {
        transform: scale(1.08);
      z-index: -1;
      }
    }

    p {



    &:nth-last-child(+2) {
      padding-top: 20px;

    }

    &:nth-last-child(-n+2) {

      font-weight: bolder;
      }
    }


  }



  .myForm {


    #formularz {

      label {
        display: inline-block;
        width: 90%;
        text-align: right;
      }

      div {
        margin-top: 1em;

        input {
          width: 90%;
        }

        textarea {
          vertical-align: top;
          height: 5em;
          width: 90%;

          .invalid {
            border: 3px solid red;
          }

          .valid {
            border: 3px solid green;
          }

        }


        .blad {
          color: red;
        }

        .ok {
          color: green;
        }
      }
    }

    #submit {
      padding-left: 100px;
    }


  }

  .mediaIcons a {


    height: 50px;
    width: 50px;
    border: 2px solid #dddddd;
    border-radius: 50%;
    margin: 2px 2px 2px 0;
    padding: 3px 3px;
    text-align: center;
    font-size: 1.5rem;
    display: inline-block;
    color: #161616;

}



.popupImg {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  display: flex; //FLEX!
  justify-content: center;
  align-items: center;
}














* {
  box-sizing: border-box;
}


///Validator, jquery


.myfocus {
  border: 3px dotted orange;
  color: green;
}





.grid-container {
  width : 100%;
  max-width : 800px;
}

.row:after {
   content: "";
   clear: both;
   display: block;
 }
[class*="col-"] {
  float: left;
  padding: 15px;
  border: $myBorder2;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.header {
  background-color: #9933cc;
  color: #ffffff;
  padding: 15px;
}

.myWidth {
  margin: 0 auto;
  width: 90%;

}

